/* ヘッダー */
header {
    list-style-type: none; /* デフォルトのマーカーを削除 */
    margin: 0;
    /* padding: 0; */
    display: flex; /* 子要素を横並びに */
    border-radius: 3px;
    /* flex: 1 1 auto; タブが均等に幅をとるが、幅を超えると折り返す */
    /* flex-wrap: wrap; 幅に応じて折り返し */
    order: -1; /* 上部に表示する */
    position: relative; /* 絶対位置指定用の基準 */
    padding: .7em 1em; /* 上下左右の内側余白 */
    background: linear-gradient(#b995be,#cb67d8); /* 背景色 */
    color: #f9fcfb; /* 文字色 */
    text-align: center; /* 文字を中央揃え */
    justify-content: space-evenly; /* 子要素を均等に配置 */
    transition:.3s all;/*変化を滑らかに*/
    Font-weight: bold;
    text-shadow:
        1px 1px 0px #000, -1px -1px 0px #000,
        -1px 1px 0px #000,  1px -1px 0px #000,
        1px 0px 0px #000, -1px  0px 0px #000,
        0px 1px 0px #000,  0px -1px 0px #000;
}

/* ナビゲーションメニュー */
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav-menu ul {
    /*コレ*/display:flex;
    /*コレ*/flex-wrap: nowrap;
    padding:0;
    list-style:none;
}
.nav-menu li {
    flex: 1; /* 各要素を均等な幅に */
    text-align: center; /* 中央揃え */
    margin: 0; /* 余白をリセット */
    border-radius: 10px;
    display: inline;
    /* margin: 0 150px; */
    cursor: pointer; /* ポインターを指アイコンに変更 */
    padding: .9em 1em; /* 上下左右の内側余白 */
    /*コレ*/width:100%;
    /* padding: 10px; */
    /* border:1px solid #999; */
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2em;
    transition: color 0.3s;
}

.nav-menu li:hover {
    background: linear-gradient(#6f837a,#517061,#6f837a); /* 背景色 */
    color: #ffffff; /* ホバー/選択時の文字色 */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.introduce_us {
    Font-weight: bold;
    color: #1b1a1a; /* 文字色 */
    font-size: 5em;
    text-align: center; /* 文字を中央揃え */
}
.sakura {
    color: #edc1f8; /* 文字色 */
    Font-weight: bold;
    text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px #000;
}
.mochi {
    color: #33d496; /* 文字色 */
    Font-weight: bold;
    text-shadow:
    1px 1px 0px #000, -1px -1px 0px #000,
    -1px 1px 0px #000,  1px -1px 0px #000,
    1px 0px 0px #000, -1px  0px 0px #000,
    0px 1px 0px #000,  0px -1px 0px #000;
}
.list_text {
    Font-weight: bold;
    color: #1b1a1a; /* 文字色 */
    font-size: 3em;
    text-align: center; /* 文字を中央揃え */
}

/* 画像 */
.mochi_images {
    max-width:1%;
    height:auto;
}

.display-flex_1 {
    display: flex;
    height: 4.5em;
    justify-content:
    flex-start; 
}

/* .display-inline {
    display: inline;
} */

h1{
    text-align: center;
}
h2{
    text-align: center;
}
label, select{
    display: block;
    margin: 0.5em;
    text-align: center;
    border-radius: 5px;
}

.searchinput {
    display: block;
    margin: 0.5em;
    text-align: left;
    border-radius: 5px;
}

table{
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
}
  
table th:first-child{
    border-radius: 5px 0 0 0;
}
  
table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}
  
table th{
    text-align: center;
    color:white;
    background: linear-gradient(#95beab,#1ca06d);
    border-left: 1px solid #55a385;
    border-top: 1px solid #55a385;
    border-bottom: 1px solid #55a385;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 25%;
    padding: 10px 0;
}
  
table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 25%;
    padding: 10px 0;
}
  
table td:last-child{
    border-right: 1px solid #a8b7c5;
}
  
table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
  
table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

label {
    font-size: 1.5em;
}

/* コード列のスタイル */
#csvTable th:nth-child(3),
#csvTable td:nth-child(3) {
    width: 5%; /* 必要に応じて調整 */
    text-align: center; /* ボタンの中央揃え */
}

select {
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
    appearance: none; /* 標準のスタイルを無効にする */
    /* font-size: 1.5em; */
}

.search {
    font-size: 1.5em;
}

input {
    font-size: 1.5em;
}

/* スマートフォン用のスタイル */
@media (max-width: 600px) {
    body {
        padding: 0 1em;
    }

    table {
        font-size: 0.8em;
    }
}

/* タブレット用のスタイル */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        padding: 0 2em;
    }

    table {
        font-size: 0.9em;
    }
}

/* PC用のスタイル */
@media (min-width: 1025px) {
    body {
        padding: 0 3em;
    }

    table {
        font-size: 1em;
    }
}

